{% render 'pagefly-settings' %}<link rel="stylesheet" href="https://cdn.pagefly.io/pagefly/2.17.8/css/main-style.css?t=20210406100451"> <link rel="stylesheet" href="{{ 'pagefly.e7575306.css' | asset_url }}" media="print" onload="this.media='all'">
		  <div class="__pf" id="__pf"><div data-pf-type="Body" class="sc-pRgDJ fzXWJx pf-b8f6dd1a"><div data-pf-type="Layout" class="pf-f6dd1a2c"></div></div></div><script>
					window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"2.17.8","shopDomain":"usmedrehab.myshopify.com","elementData":{},"pageTitle":"","pageType":"home","pageId":"e7575306-34e6-4c69-8fdd-bf1065d40d2b","lazyLoad":false,"imageLazyLoad":false,"nativeImageLazyLoad":true,"trackingIDs":[],"shopifyProxyPath":"/a/pf_preview","updatedTime":"2021-04-06T15:50:01.627Z"};
					window.__pagefly_setting__.moneyFormat = {{shop.money_format | json}}
				</script><script src="https://cdn.pagefly.io/pagefly/2.17.8/core/helper.js?t=20210406100451" defer></script>{% schema %}
{
  "name": "PageFly Home Page",
  "settings": [
    {
      "type": "paragraph",
      "content": "For full configuration, [visit PageFly Editor](https://apps.pagefly.io/editor?id=e7575306-34e6-4c69-8fdd-bf1065d40d2b)."
    }
  ]
}
{% endschema %}